<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/admin/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/assets/admin/css/main.css" />
        <link href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
        <script type="module" src="/assets/admin/js/main.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title><%= title %> - Admin Panel</title>
    </head>
    <body onload="setUp();">
        <div id="header">
            <h3 id="heading"><%= title %></h3>
            <div id="username" onclick="openUserMenu(this.innerText);"><%= username %> </div>
        </div>

        <div id="admin-navigation">
            <% if (isAdmin) { %>
                <div class="setting selected" onclick="switchTab(this);">
                    <i class="fas fa-wrench"></i>
                    <span class="title">Basic Settings</span>
                </div>

                <div class="setting" onclick="switchTab(this);">
                    <i class="fas fa-chart-line"></i>
                    <span class="title">Activity</span>
                </div>

                <div class="setting" onclick="switchTab(this);">
                    <i class="fas fa-users-cog"></i>
                    <span class="title">Users</span>
                </div>
            <% } %>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-calendar-day"></i>
                <span class="title">Days</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-th-large"></i>
                <span class="title">Categories</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-landmark"></i>
                <span class="title">Venues</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-calendar-week"></i>
                <span class="title">Events</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-theater-masks"></i>
                <span class="title">Pro Shows</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-store"></i>
                <span class="title">Merchandise</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-hashtag"></i>
                <span class="title">Social Media</span>
            </div>

            <div class="setting" onclick="switchTab(this);">
                <i class="fas fa-users"></i>
                <span class="title">Team <%= title %></span>
            </div>
        </div>

        <div id="admin-page">
            <div class="admin-page-header">
                <h2 id="admin-title">
                    <i class="fas fa-wrench"></i>
                    <span>Basic Settings</span>
                </h2>
                <span id="admin-description">General site settings.</span>
            </div>

            <div id="admin-content" class="form-group"></div>
        </div>

        <div id="modal-background" class="modal-background" style="top: -100%;" onclick="closeModal();"></div>
        <div id="modal" class="modal" style="top: -100%;"></div>

        <div id="alert">
            <i class="fas fa-times alert-button" onclick="hideAlert();"></i>
            <span id="alert-content"></span>
        </div>
    </body>
</html>
