body {
    background-color: #1A1A1A;
    background-image: url('./background-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
